body {
    font-family: system-ui;
    background: #0d92d4;
    color: white;
    text-align: center;
    padding: 20px;
}

input {
    padding: 5px;
    width: 200px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

#output {
    margin-top: 20px;
    font-weight: bold;
    color: rgb(243, 243, 154);
}
