body {
    font-family: system-ui;
    background: #e6e8ea;
    color: rgb(22, 21, 21);
    text-align: center;
    padding: 20px;
}

input {
    padding: 5px;
    width: 200px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

#output {
    margin-top: 20px;
    font-weight: bold;
    color: rgb(19, 19, 19);
}
